<%- errorMessagesFor(message) %>
<div class="control-group">
   <%- form.label("firstname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("firstname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("lastname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("lastname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("message", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("message") %>
   </div>
</div>
