<%- errorMessagesFor(message) %>
<div class="control-group">
   <%- form.label("firstname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("firstname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("lastname", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("lastname") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("message", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("message") %>
   </div>
</div>

<div class="control-group">
  <%- form.label("type", 'Message type', {class: "control-label"}) %>
   <div class="controls">
     <label class="radio">
       <input type="radio" name="Message[type]" value="voice" <%= message.type === 'voice' ? ' checked': '' %> />
       voice
     </label>
     <label class="radio">
       <input type="radio" name="Message[type]" value="sms" <%= message.type === 'sms' ? ' checked': '' %> />
       SMS
     </label>
   </div>
</div>
